// main: styles.sass

#expend
  .gender
    display: flex
    align-items: center
    justify-content: center
    .pick
      padding: 0.5rem 3rem
      border: 2px solid transparent
      border-radius: 2rem
      margin: 0 0.5rem
      transition: 0.25s
      cursor: pointer
      letter-spacing: 1px
      h6
        font-weight: 300
    .active
      border: 2px solid white
  .input-message
    margin-top: 2rem
    letter-spacing: 1px
    font-weight: 300
    transition: 0.5s
  .switch
    width: 4rem
    height: 2px
    border-radius: 5px
    background-color: white
    display: flex
    margin: 3rem auto
    position: relative
    cursor: pointer
    .circle
      position: absolute
      height: 2rem
      width: 2rem
      top: -1rem
      background-color: white
      border-radius: 100%
      transition: 0.5s
    .left
      left: 0
    .right
      right: 0
  .variables
    display: flex
    align-items: center
    justify-content: center
    margin: 1rem 0
    .active
      display: flex !important
    .variable
      display: none
      flex: 1
      input
        margin: 0 0.5rem
      input:first-child
        margin-left: 0
      input:last-child
        margin-right: 0
  .activity
    display: flex
    align-items: stretch
    justify-content: center
    margin: 1rem 0 2rem
    .pick
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      padding: 0.5rem 3rem
      border: 2px solid transparent
      border-radius: 2rem
      margin: 0 0.5rem
      transition: 0.25s
      cursor: pointer
      letter-spacing: 1px
      h6
        font-weight: 300
    .active
      border: 2px solid white
    .pick:first-child
      margin-left: 0
    .pick:last-child
      margin-right: 0
  .submit-expend
    padding: 1rem 5rem
    border: 2px solid white
    border-radius: 2rem
    cursor: pointer
    letter-spacing: 1px
    font-weight: 300
  .calculation
    opacity: 0
    transition: 0.5s
    width: 100%
    padding-bottom: 2rem
    margin-top: 2rem
    .expend-calc
      width: 100%
      position: relative
      padding-bottom: 0.5rem
    .constant
      opacity: 0
      transition: 0.5s

@media #{$tablet}
  #expend
    .variables
      flex-wrap: wrap
      margin: 0 0 2rem
      .variable
        width: 100%
        flex-wrap: wrap
        margin-top: 0 !important
        input:first-child
          margin-top: 0 !important
        input
          width: 49%
    .activity
      flex-wrap: wrap
      justify-content: space-between !important
      .pick
        flex: 0 0 49% !important
        margin: 0 0 0.5rem !important

@media #{$phone}
  #expend
    .variables, .activity
      flex-wrap: wrap
      .pick
        flex: 0 0 100% !important
        margin: 0 0 0.5rem !important
      .variable
        flex: 0 0 100% !important
        margin: 0 !important
        input
          width: 100%
          margin: 0.5rem 0
