// main: styles.sass

.header
  padding: 2rem 5vw
  width: 100%
  transition: 0.25s
  #fitTabs
    display: flex
    align-items: center
    .nav-item
      flex: 1
      text-align: center
      padding: 0 2rem
      .nav-link
        border-radius: 2rem
        border: 2px solid transparent
        color: rgba(255,255,255,0.7)
        transition: 0.5s
      .nav-link.active
        background-color: transparent
        color: white
        border: 2px solid white

.header-active
  padding: 1rem 5vw

@media #{$tablet}
  #fitTabs
    flex-wrap: wrap
    justify-content: space-around
    .nav-item
      flex: 0 0 50% !important
      margin-bottom: 0.5rem

@media #{$medium}
  #fitTabs
    flex-direction: column
    align-items: flex-end !important
    .nav-item
      margin-bottom: 0.5rem
