// compile main
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500')

$phone: "only screen and (max-width: 568px)"
$medium: "only screen and (max-width: 768px)"
$tablet: "only screen and (max-width: 1024px) and (min-width: 569px)"

@import 'header'
@import 'macros'
@import 'bmi'
@import 'expenditure'

html
  body
    font-family: 'Roboto', sans-serif
    min-height: 100vh
    color: white
    text-align: center
    background: #243B55 /* Old browsers */
    background: -moz-linear-gradient(top, #243B55 0%, #141E30 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #243B55 0%,#141E30 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #243B55 0%,#141E30 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex
    flex-direction: column
    .hero
      width: 100%
      padding: 2rem
      display: flex
      justify-content: center
      flex: 1
      h1
        letter-spacing: 1px
        margin-bottom: 3rem
      .tab-content
        display: flex
        align-items: center
        justify-content: center
    h1, h2, h3, h4, h5, h6, p
      margin-bottom: 0
    h1
      font-weight: 100
    input, input:focus
      background-color: rgba(255,255,255,0.05)
      border: none
      border-radius: 2rem
      padding: 0.5rem 1rem
      flex: 1
      margin: 1rem 0
      outline: transparent
      text-align: center
      letter-spacing: 1px
      color: white
    input::placeholder
      color: rgba(255,255,255,0.8)
      text-align: center
      text-transform: lowercase
      transition: 0.2s
      letter-spacing: 1px
    input:focus::-webkit-input-placeholder
      color: transparent

.animated-expend, .animated-bmi
  opacity: 1 !important
  margin-top: 3rem !important
